<!DOCTYPE html>
<html lang="en" class="{{#if htmlClass}}{{htmlClass}}{{/if}}">
<head>
	<title>MediterráneaJS</title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="{{ assets }}/favicon.ico">
	<link rel="apple-touch-icon" href="{{ assets }}/me/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ assets }}/me/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ assets }}/me/images/apple-touch-icon-114x114.png">
	<style>
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
	}
	</style>
	<link rel="stylesheet" href="{{ assets }}/styles.css" />
</head>
<body ng-app="org.barcelonajs.mediterraneajs">
	{{!-- 
	<pre>
	{{stringify .}}
	</pre>
	--}}
	{{> header }}
	{{> body }}
	{{> footer }}
	<script src="{{ assets }}/components.js"></script>
	<script src="{{ assets }}/app.js"></script>
</body>
</html>
